<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>n1</param-name>
  	<param-value>100</param-value>
  </context-param>
  
   <context-param>
  	<param-name>n2</param-name>
  	<param-value>500</param-value>
  	
  </context-param>
  <servlet>
    <description></description>
    <display-name>ConfigServlet</display-name>
    <servlet-name>ConfigServlet</servlet-name>
    <servlet-class>com.projname.controller.ConfigServlet</servlet-class>
    <init-param>
      <param-name>userid</param-name>
      <param-value>GLOBESYN</param-value>
    </init-param>
    <init-param>
      <param-name>pass</param-name>
      <param-value>ABC123</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigServlet</servlet-name>
    <url-pattern>/ConfigServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextDemo</display-name>
    <servlet-name>ContextDemo</servlet-name>
    <servlet-class>com.projname.controller.ContextDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextDemo</servlet-name>
    <url-pattern>/ContextDemo</url-pattern>
  </servlet-mapping>
</web-app>